<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/CSS/style.css" />
  <title>info</title>
</head>
<body >
  <p id="infoLogo" onclick="location.href='/api/main'" >IT's Pet</p>
 <div class="showUserInfowrap"> 
    <div class="showUserInfo">
      <h2>-- 회원 정보 --</h2>
      <table class = "userInfoTable" border="1">
        <tr>
          <th>작성자</th>
          <th> <%= userData.name %></th>
        </tr>
        <tr>
          <th>이메일</th>
          <th> <%= userData.email %></th>
        </tr>
        <tr>
          <th>이메일</th>
          <th> <%= userData.description %> </th>
        </tr>
      </table>
    </div>
  </div>
  <form id="deleteUserForm" action="/api/user/<%= userId %>" method="POST">
    <button id="infoDeleteBtn" >
      <input type = 'hidden' name="_method" value="DELETE" onclick="location.href = '/api/user/<%=userId%>'">
        탈퇴
      </input>
      <script>
        function moveWithDrawPage(){
          if(confirm('정말 탈퇴하시겠습니까?')){
            document.getElementById('deleteUserForm').submit()
          }else{

          }
        }
      </script>
    </button>
  </form>

  <button id ="infoModifyBtn" onclick="location.href = '/api/user/modify/<%=userId%>'">
    수정
  </button>
</body>
</html>