<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= postsDetail.title %></title>
    <!-- 부트스트랩 및 jQuery/Popper.js/Bootstrap JavaScript 라이브러리 추가 -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="/CSS/detail.css" />
</head>
<body>
<!-- ==header -->
<header>
    <!-- 검색창 -->
    <div class="searchBar" id="searchBar">
        <img class="imgLogo" src="https://github.com/eunji624/node-teamProject-newsFeed/blob/dev/public/images/logo_img.png?raw=true" >
            <form id="searchForm">
                <input class="searchTxt form-control" type="text" id="searchinput" placeholder=" 검색하세요.">
                <button class="searchBtn back_login_btn" id="searchBtn" >검색</button>
            </form>
        <!-- 검색창 사이드 -->
        <% if(!userId){ %>
        <button type="button" class="btn back_login_btn" onclick="location.href= '/api/auth/login'">로그인</button>
        <button type="button" class="btn back_login_btn" onclick="location.href= '/api/register'">회원가입</button>
        <% }else{ %>
        <button type="button" class="btn back_login_btn" onclick="location.href= '/api/auth/logout'">로그아웃</button>
        <button type="button" class="btn back_login_btn" onclick="location.href= '/api/user/<%= userId %>'">내정보조회</button>
        <% } %>
    </div>
</header>
<section>
<div class="realContainer">
    <!-- ==category side-bar -->
    <aside class="side-bar">
        <ul>
        <li><a href="/api/main">전체보기</a></li>
        <li><a href="/api/main/cat">🐈 고양이</a></li>
        <li><a href="/api/main/dog">🐕 강아지</a></li>
        <li><a href="/api/main/bird">🐥 조류</a></li>
        <li><a href="/api/main/Reptiles">🐍 파충류</a></li>
        </ul>
    </aside>
<!-- == -->
    <div class="postDetail">
        <div class="postView">

        <!-- 제목 -->
        <div class="postViewTop">
            <p class="postTitle"><%= postsDetail.title %></p> 
            <p> <span style="font-size: xx-small;"><%= postsDetail.category %></span>&ensp;<span><%= postsDetail.petName %></span> </p> 
        </div>
        <div class="postAutherBtn">
            <div style="text-align: left;">
                <img class="profileImg" src="https://img1.daumcdn.net/thumb/R1280x0/?fname=http://t1.daumcdn.net/brunch/service/user/7r5X/image/9djEiPBPMLu_IvCYyvRPwmZkM1g.jpg">
                <span><span style="font-size: xx-small;">작성자:</span><%= postsDetail.User.name %></span></div>
            <div>
                <button type="button" class="btn btn-secondary btn-sm">수정</button>
                <button type="button" class="btn btn-outline-secondary btn-sm">삭제</button>
            </div>
        </div>
        <img class="detailImg" src="<%= postsDetail.imgUrl %>"> <br/>
        <p class="postContent"><%= postsDetail.content %></p>
        <p class="postCreatedAt"><%= postsDetail.createdAt %></p>
    <!-- == -->
            <div class="commetSubmit container">
            <form class="row justify-content-center commentForm" method="POST" action="/api/comment/<%= postsDetail.id %>" >
                <input class="commentInput form-control form-control-sm col-sm-9" type="text"  placeholder="내용을 입력하시오" name="content">
                <button type="submit" class="btn btn-secondary btn-sm commentBtn col-sm-2" onclick="commentBtnAct()">Comment</button>
            </form>
            </div>
    <!--==  -->
                <div class="commentList">
                <% commentsList.forEach(comment => { %>
                <li class="comment">
                    <p> <span style="font-size: xx-small;"><%= comment.commentId %></span>
                        <span style="font-weight:bold ;"><%= comment.User.name %></span></p>
                    <p class="commentContent"><%= comment.content %></p>
                    <p class="commentCreatedAt"><%= comment.updatedAt %></p>
                </li>
                <% }); %>
                </div>
</div>
</div> 
</div>
</section>

<!-- ==footer -->
<footer>
    <p>&copy;2023 SPARTACODINGCLUB NBC Team IT's Pets</p>
   </footer>
     </body>
     <script>
        function commentBtnAct(){
            if(<%= userId %>){alert("댓글이 등록되었습니다.")}
        }
     </script>
   </html>